* {
  margin: 0;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  background-image: url(/images/banner-bg.jpg?4bc04a529b84eee8c3f1985b39dfa081);
  background-size: cover;
  height: 100%;
}

marquee {
  margin-top: 50px;
}

marquee span {
  color: #E91E63;
  font-weight: bolder;
}

marquee p {
  font-size: 20px;
}

#form {
  position: absolute;
}

#form .form-horizontal {
  position: relative;
  top: 20vh;
}

#loading {
  visibility: hidden;
  background-color: transparent;
  height: 4px;
  margin-bottom: 0;
}

#select {
  padding-right: 0;
}

#submit {
  padding-left: 5px;
}

a {
  left: 90%;
  top: -27px !important;
  cursor: pointer;
}

