.input {
  border-radius: 4px;
}

.grade {
  text-align: center;
}

#submit {
  margin-right: 20px;
  margin-bottom: 20px;
}

#close {
  opacity: unset;
  top: -20px;
  right: -20px;
  color: tomato;
  font-size: 50px;
}

#close:hover {
  color: slategray;
}