.row-container {
  display: flex;
  flex-direction: row;
}

.first-column {
  flex: 1;
  text-align: right;
  margin-right: 20px;
  font-weight: bold
}

.second-column {
  flex: 2;
  text-align: left;
}

.modal-content {
  border-radius: 4px;
}

#jurusan-modal {
  border-radius: 4px;
  flex: 1;
}